<div class ="container">
  <div class="container mb-5">
    <h1 class='alert alert-warning'><%= @question %></h1>
    <h4>- you </h4>
  </div>
  <div class="container">
    <h1 class='alert alert-success'><%= @answer %></h1>
    <h4>- your caoch </h4>
  </div>
  <p class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><%= link_to "Ask another question", "/ask" %></p>
</div>
