<div class="container">
    <h1>stupid coaching</h1>
    <h3>ask your coach something</h3>
  <form class="form" action="/answer" data-turbo="false">
    <input class="form-control" type="text" name='question'>
    <input class="btn btn-primary"type="submit" value="Ask!">
  </form>
</div>
